<div class="container">
  <h1>All the Pets we found</h1>

  <ul>
    <% @pets.each do |pet| %>
      <li><%= link_to pet.name, pet_path(pet) %> - <%= pet.species %></li> 
    <% end %>
  </ul>
</div>
